PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
Server=158.160.152.224
ServerActive=158.160.152.224
HostnameItem=system.hostname
Include=/etc/zabbix/zabbix_agentd.d/*.conf
